@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}
.welcomeModelBox{
    .welcomeIcon {
      font-size: 5em;
      margin:0 auto 20px;
      text-align: center;
      animation:mymove 2s linear;
      -webkit-animation:mymove 2s linear;
      /*Safari and Chrome*/
      animation-direction:alternate;
      /*轮流反向播放动画。*/
      animation-timing-function: ease-in-out;
      /*动画的速度曲线*/
      /* Safari 和 Chrome */
      -webkit-animation:mymove 2s linear;
      -webkit-animation-direction:alternate;
      //  /*轮流反向播放动画。*/
      -webkit-animation-timing-function: ease-in-out;
    }
  &:hover{
    .welcomeIcon {
       animation:mymove 2s linear;
       -webkit-animation:mymove 2s linear;
       /*Safari and Chrome*/
       animation-direction:alternate;
       /*轮流反向播放动画。*/
       animation-timing-function: ease-in-out;
       /*动画的速度曲线*/
       /* Safari 和 Chrome */
       -webkit-animation:mymove 2s linear;
       -webkit-animation-direction:alternate;
      //  /*轮流反向播放动画。*/
       -webkit-animation-timing-function: ease-in-out;
       /*动画的速度曲线*/
    }
  }
}

@keyframes mymove {
  0% {
    transform: scale(1);
  }
 100% {
    transform: scale(0.6);
  }
}

@-webkit-keyframes mymove{
 0% {
   transform: scale(1);
 }
 100% {
   transform: scale(0.6);
 }
}

